
*{
    margin: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:radial-gradient(lightyellow,rgb(172, 183, 187));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 2%;


}

fieldset{
    height: 40%;
}
fieldset form{
    width: 45%;
    margin: auto;
    border: 2px solid black;
    height: 60%;
    /* padding: 20px; */
    margin-top: 10%;
    text-align: center;
    background: transparent white ;
    border-radius: 10px;
    border: none;
    
}
.btn{
    padding: 15px;
    width: 40%;
    border: none;
    cursor: pointer;

}

.btn:hover{
   transition: 1.2s;
   color:white;
   background: rgb(3, 3, 3);

}

p{
    color: black;
}
h1{
    color: black;
    padding: 10px;
    margin: auto;
}

label{
    background: none;
}

input:hover{
    background-color: rgb(184, 181, 181);
    border: none;
}
a{
    margin: 10px;
    background-color: black;
    text-decoration: none;
}
span{
    margin-left: 5px;
}